<div class="box" style="background:#E2F0FE;">
	<h5>Медиа ТюмГНГУ</h5>
	<div align="left" id="portlet">
		<div style="margin:5px; margin-right:0;  background:whitesmoke; padding:0 1em; font-weight:bold;"><a href="/news/radio/" style="text-decoration:none; color:#4B96DA;">Радио "Наша Юность"</a></div>
		<div style="margin:5px; margin-right:0; background:whitesmoke; padding:0 1em; font-weight:bold;"><a href="/news/tele/" style="text-decoration:none; color:#4B96DA;">ТВ "Наша Юность"</a></div>
		<div style="margin:5px; margin-right:0; background:whitesmoke; padding:0 1em; font-weight:bold;"><a href="/news/tele/kvartal/" style="text-decoration:none; color:#4B96DA;">Студенческий квартал</a></div>
                <div style="margin:5px; margin-right:0; background:whitesmoke; padding:0 1em; font-weight:bold;"><a href="http://www.tsogu.ru/1720/mezhdunarodnaja/informatsionnyj-dajdzhest-po-mezhdunarodnoj-dejatelnosti-tjumgngu/" style="text-decoration:none; color:#4B96DA;">INTERRA</a></div>
		<!--
		<div style="margin:5px; margin-left:20px;"><a href="/portal/newsline/">В мире новостей</a></div>
		-->
<!--		<div style="margin:5px; margin-left:20px;"><a href="/news/photorep/">Фоторепортажи</a></div>
<div style="margin:5px; margin-left:20px;"><a href="/news/tsogu_in_smi/">ТюмГНГУ в СМИ</a></div> -->
	</div>
</div>
