<ul id="menu" style="margin-left: 2px;">
<div style="text-align: left;">

</div>
<div style="text-align: left;">
<li style="margin-bottom: 2px;">
<h2 class="h2menu">
<a href="http://www.tsogu.ru/university">Университет</a></h2>

        <ul style="margin-left: 15px;" id="menu" class="secondLevelNavigation" style="margin-left:1px">

          <span>
             <a href="http://www.tsogu.ru/university/1034"
                class="menubody">Нормативные документы</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/university/folder-2006-03-28-8689268292"
                class="menubody">Проекты</a>&nbsp;
<br />
          </span>

          <span>

             <a href="http://www.tsogu.ru/university/rectorat"
                class="menubody">Ректорат</a>&nbsp;
<br />
          </span>

          <span>
		  <a href="http://www.tsogu.ru/university/5163/"
                class="menubody">Учёный совет</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/university/Folder-2009-01-15-1921"
                class="menubody">Советы Университета</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/university/subdivisions"
                class="menubody">Подразделения</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/university/history"
                class="menubody">История</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/university/famous"
                class="menubody">Выдающиеся люди</a>&nbsp;
<br />

          </span>

          <span>
             <a href="http://www.tsogu.ru/university/folder-2006-03-13.5116232032"
                class="menubody">Сотрудничество с предприятиями</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/university/folder-2006-05-25-5049450735"
                class="menubody">Профком</a>&nbsp;

<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/university/folder-2007-12-25-9950608260"
                class="menubody">Система менеджмента качества</a>&nbsp;
<br />
          </span>

          

          

          

          

          

        </ul>

      </li>

</div>
<div style="text-align: left;">
<li style="margin-bottom: 2px;">
<h2 class="h2menu">
<a href="http://www.tsogu.ru/institutes">Институты</a></h2>

        <ul style="margin-left: 15px;" id="menu" class="secondLevelNavigation" style="margin-left:1px">

          <span>
             <a href="http://www.tsogu.ru/institutes/ti"
                class="menubody">Технологический</a>&nbsp;

<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/institutes/it"
                class="menubody">Транспорта</a>&nbsp;
<br />
          </span>

          <span>

             <a href="http://www.tsogu.ru/institutes/inig"
                class="menubody">Нефти и Газа</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/institutes/igig"
                class="menubody">Геологии и Геоинформатики</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/institutes/ign"
                class="menubody">Гуманитарных наук</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/institutes/folder-2008-01-22-9034888554"
                class="menubody">Сервиса и Управления</a>&nbsp;
<br />

          </span>

          <span>
             <a href="http://www.tsogu.ru/institutes/ikis"
                class="menubody">Институт кибернетики, информатики и связи</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/institutes/folder-2008-04-08-3711929195"
                class="menubody">Институт международных образовательных программ</a>&nbsp;

<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/institutes/ipti"
                class="menubody">Институт промышленных технологий и инжиниринга</a>&nbsp;
<br />
          </span>

          <span>

             <a href="http://www.tsogu.ru/institutes/imib"
                class="menubody">Менеджмента и бизнеса</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/institutes/nii"
                class="menubody">НИИ</a>&nbsp;
<br />
          </span>

        </ul>
      </li>

</div>
<div style="text-align: left;">
<li style="margin-bottom: 2px;">
<h2 class="h2menu">
<a href="http://www.tsogu.ru/branches">Филиалы</a></h2>

        <ul style="margin-left: 15px;" id="menu" class="secondLevelNavigation" style="margin-left:1px">

          <span>

             <a href="http://www.tsogu.ru/branches"
                class="menubody">Список филиалов</a>&nbsp;
<br />
          </span>

        </ul>
      </li>

</div>
<div style="text-align: left;">
<li style="margin-bottom: 2px;">
<h2 class="h2menu">
<a href="http://www.tsogu.ru/npospo">НПО и СПО</a></h2>

        <ul style="margin-left: 15px;" id="menu" class="secondLevelNavigation" style="margin-left:1px">

          <span>
             <a href="http://www.tsogu.ru/npospo/tss"
                class="menubody">Техникумы</a>&nbsp;

<br />
          </span>

        </ul>
      </li>

</div>
<div style="text-align: left;">
<li style="margin-bottom: 2px;">
<h2 class="h2menu">
<a href="http://www.tsogu.ru/npospo">Колледжи</a></h2>

        <ul style="margin-left: 15px;" id="menu" class="secondLevelNavigation" style="margin-left:1px">

          <span>
             <a href="http://www.tsogu.ru/colleges/tekhnologicheskij-kolledzh/"
                class="menubody">Технологический колледж</a>&nbsp;
<br />
          </span>
        </ul>
      </li>

</div>

<div style="text-align: left;">
<li style="margin-bottom: 2px;">
<h2 class="h2menu">
<a href="http://www.tsogu.ru/folder-2007-05-16-0903410628">Общее образование</a></h2>

        <ul style="margin-left: 15px;" id="menu" class="secondLevelNavigation" style="margin-left:1px">

          <span>
             <a href="http://www.tsogu.ru/folder-2007-05-16-0903410628/lyceum"
                class="menubody">Общеобразовательный лицей ТюмГНГУ</a>&nbsp;
<br />
          </span>

        </ul>
      </li>

</div>
<div style="text-align: left;">

<li style="margin-bottom: 2px;">
<h2 class="h2menu">
<a href="http://www.tsogu.ru/student">Студенту</a></h2>

        <ul style="margin-left: 15px;" id="menu" class="secondLevelNavigation" style="margin-left:1px">

          <span>
             <a href="http://www.tsogu.ru/student/shedules"
                class="menubody">Расписание</a>&nbsp;
<br /> 
          </span>

          <span>
             <a href="http://www.tsogu.ru/student/library"
                class="menubody">Библиотека</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/student/5933"
                class="menubody">Олимпиады и конкурсы</a>&nbsp;
<br />

          </span>

          <span>
             <a href="http://www.tsogu.ru/student/1542"
                class="menubody">Научная деятельность</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/student/folder-2006-03-13-0542947502"
                class="menubody">Практика</a>&nbsp;

<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/student/link.2006-01-23.0830742850"
                class="menubody">Форум</a>&nbsp;
<br />
          </span>

          <span>

             <a href="http://www.tsogu.ru/student/folder-2006-10-06-8808063898"
                class="menubody">Школа актива первого курса</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/student/folder-2005-10-31-5142195673"
                class="menubody">Штаб студенческих отрядов ТюмГНГУ</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/student/folder-2007-10-17-9442978510"
                class="menubody">Именные стипендии</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/student/folder-2007-08-31-1163802879"
                class="menubody">Путеводитель по планете "Нефтегаз"</a>&nbsp;
<br />

          </span>

          

        </ul>
      </li>

</div>
<div style="text-align: left;">
<li style="margin-bottom: 2px;">
<h2 class="h2menu">
<a href="http://www.tsogu.ru/entrant">Абитуриенту</a></h2>

        <ul style="margin-left: 15px;" id="menu" class="secondLevelNavigation" style="margin-left:1px">

          <span>
             <a href="http://www.tsogu.ru/entrant/news"
                class="menubody">Новости</a>&nbsp;
<br />
          </span>
          <span>
             <a href="http://www.tsogu.ru/entrant/cherez-operatorov-pochtovoj-svjazi/"
		     class="menubody">ИНФОРМАЦИЯ О ПРИЕМНОЙ КАМПАНИИ 2010
<br />
          </span>
	  <!--
          <span>
             <a href="http://www.tsogu.ru/entrant/link-2006-04-19-6741128627"
                class="menubody">Подготовительные курсы</a>&nbsp;
<br />

          </span>
	  -->

          <span>
             <a href="http://www.tsogu.ru/entrant/guide"
                class="menubody">Справочник специальностей</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/entrant/ratings"
                class="menubody">ТюмГНГУ в рейтингах вузов</a>&nbsp;

<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/entrant/folder-2008-03-06-9116961954"
                class="menubody">УЧАСТВУЙ В КОНКУРС ТюмГНГУ!</a>&nbsp;
<br />
          </span>

          <span>

             <a href="http://www.tsogu.ru/entrant/restore"
                class="menubody">Восстановление</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/entrant/obrazovatelnye-kredity/"
                class="menubody">Образовательные кредиты</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/entrant/pamyatka"
                class="menubody">Памятка</a>&nbsp;
<br />
          </span>

        </ul>
      </li>

</div>
<div style="text-align: left;">

<li style="margin-bottom: 2px;">
<h2 class="h2menu">
<a href="http://www.tsogu.ru/1535">Выпускнику</a></h2>

        <ul style="margin-left: 15px;" id="menu" class="secondLevelNavigation" style="margin-left:1px">

          <span>
             <a href="http://www.tsogu.ru/1535/1040"
                class="menubody">Трудоустройство</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/1535/1536"
                class="menubody">Ассоциация выпускников</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/1535/1809"
                class="menubody">Нефтегаз собирает друзей</a>&nbsp;
<br />

          </span>

        </ul>
      </li>

</div>
<div style="text-align: left;">
<li style="margin-bottom: 2px;">
<h2 class="h2menu">
<a href="http://www.tsogu.ru/1720">Деятельность</a></h2>

        <ul style="margin-left: 15px;" id="menu" class="secondLevelNavigation" style="margin-left:1px">

          <span>
             <a href="http://www.tsogu.ru/1720/folder-2005-12-19-2573402550"
                class="menubody">Учебная и учебно-методическая</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/1720/distantsionnoe-obuchenie/"
                class="menubody">Дистанционное обучение</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/1720/2121"
                class="menubody">Международная</a>&nbsp;
<br />

          </span>

          <span>
             <a href="http://www.tsogu.ru/1720/1028"
                class="menubody">Научная</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/1720/conferentions"
                class="menubody">Конференции 2009</a>&nbsp;

<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/1720/folder-2006-03-21-1154503624"
                class="menubody">Конференции по плану ТюмГНГУ на 2009 г.</a>&nbsp;
<br />
          </span>

          <span>

             <a href="http://www.tsogu.ru/1720/1026"
                class="menubody">Культурная</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/1720/folder-2008-06-07-1697409549"
                class="menubody">Телематические услуги связи</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/1720/folder-2005-05-03-6748419453"
                class="menubody">План мероприятий на месяц</a>&nbsp;
<br />

          </span>

          <span>
             <a href="http://www.tsogu.ru/1720/1027"
                class="menubody">Спортивная</a>&nbsp;
<br />
          </span>

          

          

          

          

        </ul>
      </li>

</div>
<div style="text-align: left;">
<li style="margin-bottom: 2px;">
<h2 class="h2menu">
<a href="http://www.tsogu.ru/resources">Ресурсы</a></h2>

        <ul style="margin-left: 15px;" id="menu" class="secondLevelNavigation" style="margin-left:1px">

          <span>
             <a href="http://www.tsogu.ru/resources/web-cams"
                class="menubody">web-камеры</a>&nbsp;
<br />

          </span>

          <span>
             <a href="http://www.tsogu.ru/news/tele/"
                class="menubody">Цифровое телевидение</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/news/radio/"
                class="menubody">Цифровое радио</a>&nbsp;

<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/resources/dissers"
                class="menubody">Объявления о защите диссертации</a>&nbsp;
<br />
          </span>

          <span>

             <a href="http://www.tsogu.ru/resources/folder-2006-09-13-0671676886"
                class="menubody">Партнеры</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/resources/catalog"
                class="menubody">Каталог</a>&nbsp;
<br />
          </span>

          <span>
             <a href="http://www.tsogu.ru/resources/folder-2007-05-11-6378025806"
                class="menubody">Программное обеспечение</a>&nbsp;
<br />
          </span>

        </ul>
      </li>

</div>
  </ul>
