<h1>Прямой эфир телевидения ТюмГНГУ</h1>
<br/>

<a href="mms://tv.tsogu.ru:8080"><img src="/media/img/video_preview.jpg" /></a>
<br/>
<!--
    <div name="mediaspace" id="mediaspace"></div>                                                                                              
    <script type="text/javascript">
        var cnt = document.getElementById("mediaspace");
        var src = '/media/merged/wmvplayer.xaml';
        var cfg = {
            file:'mms://post.sms.tsogu.ru/tv',
            image:'/media/img/video_preview.jpg',
            height:'480',
            width:'640'
        };
        var ply = new jeroenwijering.Player(cnt,src,cfg);
</script>
-->
<!--
<a href="mms://post.sms.tsogu.ru/tv">Смотреть в Windows Media Player (из корпоративной сети)</a><br/>
<a href="mms://dtv.tsogu.ru/tv">Смотреть в Windows Media Player (из интернет)</a><br/>
<a href="http://dtv.tsogu.ru:8080/tv">Смотреть в Windows Media Player (через Интернет, если у Вас стоит брандмауэр)</a>
-->
<a href="mms://tv.tsogu.ru:8080">Смотреть видео.</a>
