{% load nodes %}
{% load pytils_dt %}
{% load thumbnail %}

{% nodes "parents" object.get_absolute_url "sort_fields" "position" "for_user" "True" "states" "опубликованный" as objs %}

{% if template_config.content == "with_date" %}
<ul>
{% for x in objs %}
	<li>
		<span>{{x.date_published|ru_strftime:"%d.%m.%Y "}}</span>
		{% ifequal x.get_class_name "Link" %}
			<a href="{{ x.get_link_absolute_url }}"><b>{{ x.title }}</b></a><br/>
		{% else %}
			<a href="{{ x.get_absolute_url }}"><b>{{ x.title }}</b></a><br/>
		{% endifequal %}
		{{ x.description }}
	</li>
{% endfor %}
</ul>
{% endif %}

{% if template_config.content == "without_date" %}
<ul>
{% for x in objs %}
	<li>
		{% ifequal x.get_class_name "Link" %}
			<a href="{{ x.get_link_absolute_url }}"><b>{{ x.title }}</b></a><br/>
		{% else %}
			<a href="{{ x.get_absolute_url }}"><b>{{ x.title }}</b></a><br/>
		{% endifequal %}
		{{ x.description }}
	</li>
{% endfor %}
</ul>
{% endif %}

{% if template_config.content == "with_image" %}
	{% for x in objs %}
	<div style="border-bottom: 1px dashed #cccccc;">
	<table width="100%">
		<tr><td><p align="justify" id="headline">
			<span>{% if x.get_front_image %}<img src="{% thumbnail x.get_front_image.image.name 160x160 crop %}" alt="{{x.get_front_image.title}}"/>{% endif %}</span>
			<!--
			<b>{{x.date_published|ru_strftime:"%d %B"}}</b>&nbsp;&nbsp;
			-->
			<a href="{{x.get_absolute_url}}">{{x.title}}</a><br/><br/>
			<span>{{x.description}}</span>
		</p></td></tr>
	</table>
	</div>
	{% endfor %}
{% endif %}
