{% load nodes %}

{% if template_config.photo == "block" %}
{% if object.type == 'Page' %}
	{% nodes "types" "Photo" "parents" object.get_absolute_url "sort_fields" "position" "states" "опубликованный" as images %}
{% else %}
	{% nodes "types" "Photo" "parents" object.get_absolute_url "sort_fields" "position"  as images %}
{% endif %}

{% if images %}
<div style="margin: 0 0 10px 10px; float: right; background-color: #DFE9F4">
	{% for photo in images %}
	<a href="{{ photo.image.url }}" class="thickbox" rel="news-{{ object.id }}-gallery"
		title="{{ photo.title }}{% if photo.description %}. {{ photo.description }}{% endif %}">
		<img border="0" src="{{ photo.thumbnail.url }}" class="photo page" style="display: block; margin: 10px;" alt="{{ photo.title }}" />
	</a>
	{% endfor %}
</div>
{% endif %}
{% endif %}

{% if template_config.photo == "albom" %}
{% load thumbnail %}

{% nodes "types" "Photo" "parents" object.get_absolute_url "sort_fields" "position"  as images %}
{% if images %}
<div style="overflow: hidden;">
{% for photo in images %}
	<div style="margin:5px; padding:2px; float:left; height:242px; width:242px; border: 1px solid gray; text-align:center;">
		<a href="{{ photo.url }}" class="thickbox" rel="news-{{ object.id }}-gallery" 
			title="{{ photo.title }}{% if photo.description %}. {{ photo.description }}{% endif %}">
			<img id="photo_{{ photo.id }}" border="0" src="{% thumbnail photo.image.name 240x240 %}" 
				class="photo page" alt="{{ photo.title }}" style="margin:0; max-height:240px" />
		</a>
	</div>
	<script>
		$('#photo_{{ photo.id }}').css('margin-top',(240-$('#photo_{{ photo.id }}').height())/2);
	</script>
{% endfor %}
</div>
{% endif %}
{% endif %}

{% if template_config.photo == "gallery" %}
{% nodes "types" "Photo" "parents" object.get_absolute_url "sort_fields" "position"  as images %}
{% if images %}
<div style="overflow: hidden;">
{% for photo in images %}
	<div style="margin:5px; padding:2px; float:left;">
		<a href="{{ photo.url }}" class="thickbox" rel="news-{{ object.id }}-gallery"
			title="{{ photo.title }}{% if photo.description %}. {{ photo.description }}{% endif %}">
			<img border="0" src="{%thumbnail photo.image.name 160x160 crop %}" class="photo page" alt="{{ photo.title }}" style="margin:5px 0; max-height:240px" />
		</a>
	</div>
{% endfor %}
</div>
{% endif %}
{% endif %}
