<div>

<h2>Страница расширенной статистики для <span>"{{ title }}"</span></h2>
<span class="discreet">Отображается количество посетителей и просмотров за последние 10 дней</span><br><br>

<table align="center" border="0" cellpadding="0" cellspacing="0">
<tbody><tr><td width="50%" align="left">
Количество посетителей</td><td align="right">
Количество просмотров</td></tr>
<tr><td colspan="2" align="center">
<img src="http://app.tsogu.ru/counter.py?pid={{ pid }}">
</td></tr>
</tbody></table>

</div>
