<form method="post" action="{{ object.get_absolute_url }}">

<table>
{{ frm.as_table }}
</table>

<br/>
<input type="submit" value="Войти в систему" />&nbsp;
<input type="hidden" name="next" value="{{ next }}" />
</form>


<br/>

<b>Важно!</b>
<br/>
Если вы не имеете доступа к новому актуальному порталу ТюмГНГУ, вам необходимо зарегистрироваться, перейдя по ссылке <a href="/registration/">регистрация</a>. <br/><br/>
Если у вас были права на редактирование какого-либо раздела, то <b>после регистрации</b> необходимо отправить на адрес электронной почты <a href="mailto:webmaster@tsogu.ru">webmaster@tsogu.ru</a> письмо с логином, вашими Ф.И.О. и названием разделом, который вы должны редактировать.
<br/><br/>
<p style="color:red;">Свои действия по редактированию портала сверяйте с <a href="http://www.tsogu.ru/university/subdivisions/uits/infs/normativnye-dokumenty/concept/">концепцией официального портала ТюмГНГУ</a> (утверждена 11 декабря 2009 года).</p>
